@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
nav{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    height: 315px;
    width: 1400px;
}
nav h1{
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}
nav .onglets{
    margin-top: 3px;
    margin-left: 150px;
    margin-bottom: 50px;
}
nav .onglets a{
    text-decoration: none;
    color: black;
    padding: 60px;
    margin-right: 10px;
    font-weight: bold;
    padding-bottom: 5px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: pink;
    background-size: cover;
    color: black;
    padding: 40px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}
header h1{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
}
.signature p{
    font-weight: bold;
}
header h4{
    margin-top: -20px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid black;
}

.main{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom:20px;
}
.main .content .card .left{
   flex: 0 0 30%;
   padding: 20px;
   background-color:black;
   color:#fff;
}
.main .content .card .right img{
    height:300px;
    width: 400px;
    margin-top: 5px;
}
.ligne-haute{
    display: flex;
    margin-top: 60px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.deronglets{
    background-color: pink;
    padding: 20px;
   /* border: 0px solid black; */
    border-radius: 30px;
}
.gauche{
    background-color: pink;
    color: black;
    flex: 0 0 40%;
    padding: 50px;
}
.droite{
    flex: 0 0 5%;
    border: 5px solid pink;

}
.ligne-bas{
    display: flex;
    margin-top: 60px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.bas{
    margin-top: 200px;
}
.content2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-left: 70%;
}
.slide{
    animation: glisse 15s infinite;
}
.slides{
    width: calc(500px*3);
}
.slider{
    height: 600px;
    overflow: hidden;
}

@keyframes glisse{
    0%{
        transform: translateY(0);
    }
    5%{
        transform: translateX(0);
    }
    15%{
        transform: translateY(-600px);
    }
    25%{
        transform: translateY(-600px);
    }
    35%{
        transform: translateY(-1200px);
    }
    50%{
        transform: translateY(-1200px);
    }
    65%{
        transform: translateY(-1800px);
    }
    75%{
        transform: translateY(-1800px);
    }
    100%{
        transform: translateY(0);
    }
}

footer{
    margin-top: 40px;
    border-top: 5px solid #6f6f6f;
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 30px 100px;;
}
footer h1{
    font-family: 'Playfair Display', serif;
    border-bottom: 1px solid pink;
    width: 20%;
    color: black;
    font-weight: bold;
    margin-left: 40%;
    padding-right: 150px;
    padding-bottom: 5px;
}
footer .services{
    margin-top: -10px;
    display:flex;
    flex-wrap:wrap;
    color: black;
    background-color: pink;
}
footer .services .service{
    margin-right: 30px;
    color: pink;
}
footer .services .service p{
    max-width: 300px;
}
footer #contact{
    color: pink;
}
footer{
    background-color: pink;
    color: pink;
}

@media screen and (max-width:680px){
    nav .onglets {
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .main .card {
        margin: 10px;
    }
    .main .content .card .right img{
        height:200px;
        width: 100%;
 
        margin-top: -0px;
    }
    .main .content .card{
        display: block;
    }

    footer{
        padding: 30px;
    }
}

